@page "/"

<PageTitle>Index</PageTitle>

<h1>Radient Technologies Test Site</h1>

This will serve as a learning example.

<SurveyPrompt Title="How is Blazor working for you?" />

<counter IncrementAmount="8" />